.contenedor {
  display: inline-flex;
  justify-content: center;
  height: 5rem;
  width: 80%;
  margin: 5px;
  padding: 5px;
}

.h1 {
  font-size: 7rem;
  text-align: center;
  padding: 1rem;
  margin: 0.1px;
  height: 3rem;
  color: rgb(52, 14, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-content: left;
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  margin: 1.5rem;
  height: 1.8rem;
  color: rgb(52, 14, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-content: right;
}
