.carta {
  background-color: rgb(120, 1, 1);
  margin: 1.5rem;
  width: 45%;
  height: 21rem;
  padding: 1px;
  font-size: 7.5px;
  color: rgb(252, 250, 243);
  text-align: center;
  border-radius: 12%;
}
.carta:hover {
  background-color: rgb(136, 59, 4);
  scale: 110%;
}

.imagen {
  margin: 0.2rem;
  width: 95%;
  height: 60%;
  padding: 1px;
  justify-content: center;
  border-radius: 20%;
}

.button {
  border-radius: 30%;
  margin: 0.6px;
  width: 20%;
  height: 8%;
  font-size: 1rem;
  background-color: coral;
}

.nombre {
  color: aliceblue;
}

.botonFav {
  border: none;
  background-color: transparent;
  border-radius: 10%;
  &&:hover {
    scale: 110%;
  }
}
